* {
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: #EEEEEE;
  color: #686D76;
}

body::-webkit-scrollbar {
  display: none;
}


h1 {
  margin: 0;
  font-size: 4rem;
  font-weight: normal;
  font-family: serif;
  letter-spacing: 0.5rem;
  color: #373A40;
  border-bottom: 1px solid #373A40;
}

h2 {
  color: #373A40;
  margin: 0;
  font-size: 2rem;
  letter-spacing: 0.2rem;
  font-family: serif;
  font-weight: normal;
}

h3 {
  color: #373A40;
  margin: 0;
  font-size: 1.5rem;
  letter-spacing: 0.2rem;
  font-family: serif;
  font-weight: normal;
}

p {
  margin: 0;
  font-size: 1rem;
  letter-spacing: 0.1rem;
  line-height: 1.5rem;
}

section {
  padding: 30px;
  background: #EEEEEE;
}

#home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 50px;
  height: 100vh;
}

#element {
  height: 2rem;
  font-size: 1.5rem;
  letter-spacing: 0.2rem;
}

#about {
  display: flex;
  flex-direction: column;
  gap: 50px;
  justify-content: flex-start;
}

#works {
  display: flex;
  flex-direction: column;
  gap: 50px;
  justify-content: center;
  align-items: center;
}

#works > h2 {
  align-self: flex-start;
}

#works > a {
  text-decoration: none;
  color: #686D76;
}

.work-list {
  border: none;
  border-radius: 5px;
  box-shadow: 0px 0px 10px #686D76;
  height: 350px;
  width: 85vw;
  transform-origin: center;
  transition: transform 0.15s ease;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 50px;
}

.work-list:hover {
  transform: scale(1.05);
}

.social-links {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.fa-linkedin {
  color: #0077B5;
}

.fa-github {
  color: #181717;
}

.fa-envelope {
  color: #D44638;
}

#skills {
  display: flex;
  flex-direction: column;
  gap: 25px;
  justify-content: flex-start;
}

.skills-gap {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

#education {
  display: flex;
  flex-direction: column;
  gap: 25px;
  justify-content: flex-start;
}

#services {
  display: flex;
  flex-direction: column;
  gap: 25px;
  justify-content: flex-start;
}

#contact {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

form input,
form textarea, button {
  padding: 10px;
  font-size: 1rem;
  color: #686D76;
  border: none;
  background: transparent;
  border-bottom: 1px solid #373A40;
  outline: none;
}

button {
  border-bottom: none;
  font-size: 1.5rem;
  font-family: serif;
  color: #373A40;
}

footer {
  text-align: center;
  padding: 30px;
}

@media (min-width: 768px) {
  body {
    padding: 20px;
  }

  #works {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .work-list {
    height: 350px;
    width: 44vw;
  }

  #works > h2 {
    width: 100vw;
  }
  
}